  <div class="container page">
    <div class="page size1of1 mha ptl mbxl">
      <div class="shadowBox whiteBkgd pal mtl txtL" style="min-height:300px;">
         <h3 class="mbl strong"><%=tr('Same text, different methods') %></h3> 

         <%= tr("{count} messages", nil, :count => 1) %>

      </div>
    </div>        
  </div>
