<div class="container">
  <div class="mod mbl">
    <ul class="fltR hList txtSmall strong">
      <li><%=link_to(tr("Home"), "/home", :class => "quiet")%></li>
    </ul>
    <div class="quiet txtSmall strong" style="width:300px;">
      &copy; Copyright 2010-2013 tr8nhub.com
    </div>
  </div>
</div>

<p><%= tr8n_language_strip_tag %></p>
