@import "mixins.css.scss";

body {background:#f5f3ee}


/* Template */

.main                     {display:table-cell;*display:block;width:auto;}
.body,.main               {*zoom:1;}
.body:after,.main:after   {clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}




.leftCol                  {float:left;width:160px;_margin-right:-3px;}
.rightCol                 {float:right;width:300px;_margin-left:-3px;}

.container 								{min-width:980px;max-width:1050px;margin-left:auto;margin-right:auto;*zoom:1;padding:0 10px}
.container:before, 
.container:after 					{display:table;content:"";}
.container:after 					{clear:both;}

.containerFluid           {min-width: 960px;max-width:1200px;margin: 0 auto;}
.containerLiquid          {width:auto;margin:0 20px;}


.page 										{min-height:400px;}

/* Grids */

.line:before,.line:after  {content:"";display:table;}
.line:after               {clear:both;}
.line                     {*zoom:1;}
.unit                     {float:left;}
.unitRight                {float:right;}
.size1of1                 {float:none;}
.size1of2                 {width:50%;}
.size1of3                 {width:33.33333%;}
.size2of3                 {width:66.66666%;}
.size1of4                 {width:25%;}
.size3of4                 {width:75%;}
.size1of5                 {width:20%;}
.size2of5                 {width:40%;}
.size3of5                 {width:60%;}
.size4of5                 {width:80%;}
.lastUnit                 {float:none;display:block;display:table-cell;width:9999em;*width:auto;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}


/* Modules */

.mod											{margin:10px;}
.bd,.ft, .hd							{overflow:hidden; *overflow:visible; zoom:1;}


/* Media */

.media										{overflow:hidden;*overflow:visible;zoom:1;}
.media .img								{float:left;margin-right: 10px;}
.media .img img						{display:block;}
.media .imgExt						{float:right;}


/* Spacing */
            
.ptn,.pvn,.pan            {padding-top:0px !important}
.pts,.pvs,.pas            {padding-top:5px !important}
.ptm,.pvm,.pam            {padding-top:10px !important}
.ptl,.pvl,.pal            {padding-top:20px !important}
.prn,.phn,.pan            {padding-right:0px !important}
.prs,.phs,.pas            {padding-right:5px !important}
.prm,.phm,.pam            {padding-right:10px !important}
.prl,.phl,.pal            {padding-right:20px !important}
.pbn,.pvn,.pan            {padding-bottom:0px !important}  
.pbs,.pvs,.pas            {padding-bottom:5px !important}
.pbm,.pvm,.pam            {padding-bottom:10px !important}
.pbl,.pvl,.pal            {padding-bottom:20px !important}
.pln,.phn,.pan            {padding-left:0px !important}
.pls,.phs,.pas            {padding-left:5px !important}
.plm,.phm,.pam            {padding-left:10px !important}
.pll,.phl,.pal            {padding-left:20px !important}
.mtn,.mvn,.man            {margin-top:0px !important}
.mts,.mvs,.mas            {margin-top:5px !important}
.mtm,.mvm,.mam            {margin-top:10px !important}
.mtl,.mvl,.mal            {margin-top:20px !important}
.mrn,.mhn,.man            {margin-right:0px !important}
.mrs,.mhs,.mas            {margin-right:5px !important}
.mrm,.mhm,.mam            {margin-right:10px !important}
.mrl,.mhl,.mal            {margin-right:20px !important}
.mbn,.mvn,.man            {margin-bottom:0px !important}  
.mbs,.mvs,.mas            {margin-bottom:5px !important}
.mbm,.mvm,.mam            {margin-bottom:10px !important}
.mbl,.mvl,.mal            {margin-bottom:20px !important}
.mln,.mhn,.man            {margin-left:0px !important}
.mls,.mhs,.mas            {margin-left:5px !important}
.mlm,.mhm,.mam            {margin-left:10px !important}
.mll,.mhl,.mal            {margin-left:20px !important}

.mha 											{margin-left:auto;margin-right:auto}
.mbxl 										{margin-bottom:30px !important}


.txtC                     {text-align:center !important}
.txtL                     {text-align:left !important}
.txtR                     {text-align:right !important}
                    
.txtT                     {vertical-align:top !important}
.txtB                     {vertical-align:bottom !important}
.txtM                     {vertical-align:middle !important}
                    
.fltR                     {float:right !important}
.fltL                     {float:left !important}

.fullWidth 								{width:100%;}