@import "mixins.css.scss";

table.striped tbody tr:nth-child(odd) td, 
table.striped tbody tr:nth-child(odd) th {background-color: #f5f5f5}

table.ruled th,
table.ruled td,
ul.ruled li {border-bottom:solid 1px #dcdcdc;border-bottom:solid 1px #dcdcdc;}
table.ruled tr:last-child td {border:none}


.wide th,		.wide td {padding:10px 0;}
.medium th, .medium td  	{padding:7px 0;}
.narrow th, .narrow td	{padding:4px 0;}

table.stats td {border-right:1px solid #dcdcdc;}
table.stats td:last-child {border:none}


.bordered td, .bordered th {
  border: 1px solid #ddd;
}


td.minWidth {width:1%}
td.maxWidth {width:99%}

