<div style="padding-top:40px; color: #ccc; text-align:center; width:100%">
  <%= tr("Powered by {tr8n}", :tr8n => link_to("Tr8n", "http://wiki.tr8nhub.com", :style=>"color:#ccc;")) %>
  <div style="padding-top:5px;">
    <%=link_to(image_tag("http://wiki.tr8nhub.com/images/e/e9/Tr8n_logo.png", :style=>"width:50px;"), "http://wiki.tr8nhub.com") %>
  </div>
</div>
