<!DOCTYPE html>
<html>
<head>
  <title>Tr8nClientSdk</title>
  <%= stylesheet_link_tag    "tr8n_client_sdk/application", :media => "all" %>
  <%= javascript_include_tag "tr8n_client_sdk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
